.play-list-item {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 90px;
  margin: 15px 25px;
}

.fa-trash {
  font-size: 18px;
  color: #ffffff;
}

button {
  background: none;
  outline: none;
  border: none;
  margin-right: 25px;
}

.track-img {
  height: 90px;
  width: 120px;
}
.track-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-genre {
  color: #3b82f6;
  font-size: 16px;
}

.song-name {
  color: #ffffff;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.duration {
  color: #ffffff;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 25px;
}

.song-details {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
